<div class="card-panel">
  <h2><%= @user.name %></h2>
  <div><b>Login:</b> <%= @user.login %></div>
  <div><b>e-mail:</b> <%= @user.email %></div>
</div>

<div class="row mt-2">
  <div class="col-6">
    <%= link_to "Back", users_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
  </div>
</div>
