<div class="h2"><%= @vehicle.model %></div>
<div><b>Manufacture:</b> <%= @vehicle.manufacture %></div>
<div><b>Plate:</b> <%= @vehicle.license_plate %></div>
<div><b>Model year:</b> <%= @vehicle.model_year %></div>
<div><b>Manufacture year:</b> <%= @vehicle.manufacture_year %></div>
<div><b>Fuel:</b> <%= @vehicle.fuel_type %></div>
<div><b>Color:</b> <%= @vehicle.color %></div>

<div class="row mt-2">
  <div class="col-6">
    <%= link_to "Back", vehicles_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_vehicle_path(@vehicle), class: "btn btn-primary" %>
  </div>
</div>
