<div class="h2"><%= @car.model %></div>
<div><b>Brand:</b> <%= @car.manufacture %></div>
<div><b>Plate:</b> <%= @car.license_plate %></div>
<div><b>Model year:</b> <%= @car.model_year %></div>
<div><b>Manufacture year:</b> <%= @car.manufacture_year %></div>
<div><b>Fuel:</b> <%= @car.fuel_type %></div>
<div><b>Fuel:</b> <%= @car.color %></div>

<div class="row mt-2">
  <div class="col-6">
    <%= link_to "Back", cars_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_car_path(@car), class: "btn btn-primary" %>
  </div>
</div>
